html,
body {
  height: 100%;
  margin: 0;
  background-color: #2e0066;
}

p {
  text-align: center;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #000;
  background-color: #c9daff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #e5eeff;
  box-shadow: 0 0 10px #e5eeff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: -13px;
  margin-right: 5px;

}

h1 {
  color: #fff;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;

}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .buttons button {
    flex: auto;
    margin-bottom: 10px;
  }
}

.paragraph {
  background-color: #2d2d2d;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  font-size: calc(16px + 0.2vw);
}

.image img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #42ffc6;
}

toc {
  text-decoration: none;
  color: #42ffc6;
  padding: 5px;
  font-size: 35px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 70%;
  border-color: #2e0066;
  background-color: #2e0066;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: 'Brush Script MT', cursive;
  justify-content: center;
  display: flex;
}

h3 {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img.icon {
  max-width: 60px;
  height: auto;
  margin: 5px;
}

p.border {
border-style: outset;
border-radius: 12px;
text-align: center;
width: 75%;
margin: auto;
border-color: #2e0066;
background: #2e0066;
font-family: Arial, Helvetica, sans-serif;
}

toc:hover {
  background-color: #bf8bfe;
  border-color: #bf8bfe;
  color: #ffffff; 
  box-shadow: 0 0 10px #bf8bfe;
}

h3.border {
border-style: outset;
border-radius: 12px;
text-align: center;
width: 60%;
margin: auto;
font-size: 30px;
margin-top: 5px;
margin-bottom: 5px;
border-color: #2e0066;
background: #2e0066;
font-family: Arial, Helvetica, sans-serif;}